html, body {
	margin: 0px auto;
	width: 1200px;
	height: 100%;
	position: relative;
}

.wrapper {
	position: relative;
	width: 100%;
	margin: 0;
	padding: 0;
}

/* Header */

a, p {
	font-family: "Proxima Nova", "sans-serif";
}

#page_header_top {
	position: 	relative;
	width: 98%;
	margin: 0;
	background-color: #000030;
	height: 45px;
	border-radius: 2px;
}

#page_header_top #nav_glob {
	margin: 0;
}

#page_header_top #nav_glob ul.header_list {
	margin: 0;
	padding: 13px 0 0 22px;
}

#page_header_top #nav_glob ul.header_list li {
	padding-left: 3px;	
	display: inline;
	margin-top: 20px;
	border: 1px solid #000030;
	font-size: 13px;
}

a.header_link:link {
	text-decoration: none;
	color: #FFFFFF;
}

a.header_link:visited {
	text-decoration: none;
	color: #FFFFFF;
}

a.header_link:active {
	text-decoration: none;
	color: #FFFFFF;
}

a.header_link:hover {
	text-decoration: none;
	color: #009B80;
}

#page_header_top #nav_glob ul.header_list li #inner_head{
	padding: 5px 10px 5px 10px;
	border: 1px solid #009B80;
	background-color: #009B80;
	border-radius: 35px;
	font-size: 13px;
	margin-left: 5px; 
	text-align: left-side;
}

a.extra_header_link:link {
	text-decoration: none;
	color: #FFFFFF;
}

a.extra_header_link:visited {
	text-decoration: none;
	color: #FFFFFF;
}

a.extra_header_link:active {
	text-decoration: none;
	color: #FFFFFF;
}

a.extra_header_link:hover {
	text-decoration: none;
	color: #000000;
}

.navigation {
	margin: 0 50px 0 25px;;
	padding: 0;
	position: relative;
	width 85%;
}

.inter_img {
	position: absolute;
	margin: 0 85% 0 0;
	height: 80px;
	width: 230px;
}

.nav_list {
	position: absolute;
	margin: 2% 0 0 25%;
	width: 800px;
}

.nav_list li {
	display: inline;
	padding-right: 5px;
	font-size: 15px;
	font-family: Dejavu Serif, "sans-cerif";
}

a.nav_link:link {
	text-decoration: none;
	color: #009B80;
}

a.nav_link:visited {
	text-decoration: none;
	color: #009B80;
}

a.nav_link:active {
	text-decoration: none;
	color: #009B80;
}

a.nav_link:hover {
	text-decoration: none;
	color: #808080;
}

a.extra_nav_link:link {
	text-decoration: none;
	color: #000000;
}

a.extra_nav_link:visited {
	text-decoration: none;
	color: #000000;
}

a.extra_nav_link:active {
	text-decoration: none;
	color: #000000;
}

a.extra_nav_link:hover {
	text-decoration: none;
	color: red;
}

.navigation .nav_img {
	width: 83%;
	position: absolute;
	padding-top: 10px;
}

.nav_extra_list {
	position: absolute;
	width: 800px;
}

ul.nav_extra_list li {
	display: inline;
	padding-top: -20px;
	padding-bottom: 40px;
	margin-right: 30px;
	margin-left: 10px;
	border: 1px solid #000030;
	width: 80px;
	font-size: 15px;
	font-family: Dejavu Serif, "sans-cerif";
}

a.nav_extra_link:link {
	text-decoration: none;
	color: #000000;
}

a.nav_extra_link:visited {
	text-decoration: none;
	color: #000000;
}

a.header_link3:active {
	text-decoration: none;
	color: #000000;
}

a.nav_extra_link:hover {
	text-decoration: none;
	color: #000000;
}

/* Sections */

#main {
	width: 94%;
	margin-top: 10%;
	margin-left: 2%;
	position: relative;
}

.post {
	width: 79%;
	float: left;
	padding: 0;
	margin: 0 21% 0 0;
}

.side_bar {
	position: absolute;
	width: 20%;
	margin: 0 0 0 80%;
	padding: 0;
	float: right;
	display: block;
}

.news_list1 {
	list-style-type: circle;
	padding-left: 5%;
}

a.news_link1:link {
	text-decoration: none;
	color: #009B80;
}

a.news_link1:visited {
	text-decoration: none;
	color: #009B80;
}

a.news_link1:active {
	text-decoration: none;
	color: #009B80;
}

a.news_link1:hover {
	text-decoration: none;
	color: #009B80;
}

.news_list2 {
	list-style-type: none;
	padding-left: 0%;
	font-size: 85%;
}

.news_list2 li {
	padding-left: -10px;
}

a.news_link2:link {
	text-decoration: none;
	color: #009B80;
}

a.news_link2:visited {
	text-decoration: none;
	color: #009B80;
}

a.news_link2:active {
	text-decoration: none;
	color: #009B80;
}

a.news_link2:hover {
	text-decoration: none;
	color: #009B80;
}

.news_link2 > img {
	width: 100%;
	height: 50%;
}

.side_bar_news {
	font-size: 90%;
}

/* Footer */

.footer {
	width: 94%;
	margin-top: 130%;
	margin-left: 2%;
	position: relative;
	background-color: black;
	text-align: center;
	height: 200px;
}

.footer p {
	font-size: 40px;
	color: white;
} 
